pipeline/MasterPipe.json
{
	"name": "MasterPipe",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-46.northeurope.logic.azure.com:443/workflows/b990bfa1c9324ac1ae364e7b0380e5c7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=TsSMUqozCFnoBIdU-aO0A7WkI4g3C_Z2znFjeaY2RaY",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Pipline run finished!\",\n    \"message\": \"Demo-pipeline finished running, great success!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendEmail_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-46.northeurope.logic.azure.com:443/workflows/b990bfa1c9324ac1ae364e7b0380e5c7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=TsSMUqozCFnoBIdU-aO0A7WkI4g3C_Z2znFjeaY2RaY",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"Pipline run failed!\",\n    \"message\": \"@{activity('Execute Pipeline1').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-17T20:45:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}